/*  ---- Layout Styles ----  */

/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

/* Colors from https://material.io/guidelines/style/color.html#color-color-palette */

/*  ---- Text Classes ----  */

a { color: #673ab7 }

/* Assignments */
.a1 { color: #ad1457; }
.a2 { color: #00695c; }
.a3 { color: #d84315; }
.a4 { color: #0277bd; }
.a5 { color: #558b2f; }
.a6 { color: #f9a825; }
.a7 { color: #283593; }
.cs { color: #607d8b; }
.off { color: #b71c1c; }

pre { display:inline; }

ul {
  list-style: disc;
}

/* ---- Calendar ---- */
section#calendar ul {
  list-style: none;
}
section#calendar ul li ul {
  list-style: disc outside;
}
